.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
h2 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
label {
  font-weight: bold;
  color: #555;
}
input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;

  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #0056b3;
}

p {
  text-align: center;
  margin-bottom: 0;
}

#error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
